
// Basic Colors
@main-color: #336799;
@navbar: #336799;
@text-color: #336799;
@background-color: white;
@master-color: #336799;
@slaver-color: #e5225b;
@border-color: #336799;
@active-color: #d7e1ea;
@master-color-20: #d7e1ea;
@master-color-80: #5b85ad;


@import "../home/styles/home.import.less";
@import "../booking/styles/booking.import.less";
@import "../confirm/styles/confirm.import.less";
@import "../schedule/styles/schedule.import.less";

@font-face {
  font-family: 'avo';
  src: url('public/font/avo/UTM Avo.ttf') format('truetype');
}

/*Disabling platform specific tweaks */
.platform-ios.platform-cordova:not(.fullscreen) .bar-header
{
  height: 44px !important;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader)
{
  height: 44px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper
{
  margin-top: 0px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > *
{
  margin-top: 0px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .tabs-top > .tabs, .platform-ios.platform-cordova:not(.fullscreen) .tabs.tabs-top
{
  top: 44px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader
{
  top: 44px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-subheader {
  top: 88px !important;
}


body {
  // background: url(background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-bar-container{
  .bar.bar-header{
    border-color: #336799;
    background-color: #336799;
    .title.title-center{
      font-size: 24px;
    }
  }
}

.help-block {
  color: red;
}

.item-content{
  position: relative;
  text-align: center;
  margin: 0 auto;
  color: #fefcfc;
  width: 100%;
  height: 530px;
  margin-bottom: 10px;
  .item-title {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 100%;
    background-color: rgba(121, 26, 13, 0.6);
    font-size: 26px;
    padding: 18px 10px;
    text-align: left;
    .item-price {
      float: right;
      font-size: 18px;
    }
  }
  .text-center {
    text-align: center;
  }
  .item-img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .item-description {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 16px;
    background-color: rgba(77, 74, 76, 0.6);
    p {
      white-space: pre-wrap;
      margin-bottom: 0px;
      padding: 5px;
    }
  }
}

.view-container {
  // background: url(/background.png) no-repeat center center fixed !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .item-home {
    padding: 5px;

    .button.button-positive {
      border-color: #860202;
      background-color: #860202;
      height: 100%;
      padding-top: 10px;
      border-radius: 10px;
      .menu-icon {
        img {
          height: 95px;
        }
      }
      .menu-title {
        font-size: 26px;
      }
    }
  }
}

// remove white background
.pane {
  background-color: transparent;
}