.confirm{
  margin-top: 20px;
  .notices {
    margin: 0 5px;
    font-size: 13px;
    color: #797979;
    &.m-b {
      margin-bottom: 20px;
    }
    &.note_bottom {
      margin-top: 10px;
      .privacy {
        margin-top: 20px;
      }
    }
  }
  input {
    padding: 0 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid @border-color;
    &::-webkit-input-placeholder {
      color: @text-color;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: @text-color;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
      color: @text-color;
    }
    &:-ms-input-placeholder {
      color: @text-color;
    }
  }
  .btn-confirm {
    background-color: @slaver-color;
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
  }
  .confirm-info {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    .confirm-time {
      color: @slaver-color;
    }
  }
  .noRemind {
    position: relative;
    padding: 10px 0 0 30px;
    color: #336799;
    input {
      position: absolute;
      left: 5px;
      top: 10px;
      height: 20px;
      width: 20px;
    }
  }
}