<ion-view view-title="BOOKING BARBER" hide-back-button="true">
  <ion-nav-buttons side="left">
    <a class="button icon-left ion-chevron-left button-clear" ng-click="goBack()"></a>
  </ion-nav-buttons>

  <ion-content class="booking">
    <div class="row row-center">
      <div class="col general-info">
        <div class="events">
          <span>Currently Booking One Day in Advanced Only</span>
          <br/>
          CHOOSE YOUR BARBER
        </div>
      </div>
    </div>
    <ion-list class="barbers">
      <div class="row row-center" ng-repeat="barber in barbers track by barber._id" ng-if="$index % 3 === 0">
        <div class="col-33 barber-item" ng-if="$index < barbers.length" ng-click="selectBarber(barbers[$index])" ng-class="{active: barbers[$index]._id == currentBarber._id}">
          <div class="barber-image circle-images">
            <img class="item-img" src="{{getMainImage(barbers[$index].images)}}"/>
          </div>
          <div class="barber-name">
            {{barbers[$index].name}}
          </div>
        </div>
        <div class="col-33 barber-item" ng-if="$index + 1 < barbers.length" ng-click="selectBarber(barbers[$index+1])" ng-class="{active: barbers[$index+1]._id == currentBarber._id}">
          <div class="barber-image">
            <img class="item-img" src="{{getMainImage(barbers[$index+1].images)}}"/>
          </div>
          <div class="barber-name">
            {{barbers[$index+1].name}}
          </div>
        </div>
        <div class="col-33 barber-item" ng-if="$index + 2 < barbers.length" ng-click="selectBarber(barbers[$index+2])" ng-class="{active: barbers[$index+2]._id == currentBarber._id}">
          <div class="barber-image">
            <img class="item-img" src="{{getMainImage(barbers[$index+2].images)}}"/>
          </div>
          <div class="barber-name">
            {{barbers[$index+2].name}}
          </div>
        </div>

        <div class="col-33 barber-item" ng-click="selectBarber('anyone')" ng-class="{active: 'anyone' == currentBarber._id}" ng-if="has_anyone && !new_row && $index + 3 > barbers.length">
          <div class="barber-image circle-images">
            <img class="item-img" src="anyone-avatar.png"/>
          </div>
          <div class="barber-name">
            1st available
          </div>
        </div>
      </div>

      <div class="row row-center" ng-if="new_row && has_anyone">
        <div class="col-33 barber-item" ng-click="selectBarber('anyone')" ng-class="{active: 'anyone' == currentBarber._id}">
          <div class="barber-image circle-images">
            <img class="item-img" src="anyone-avatar.png"/>
          </div>
          <div class="barber-name">
            1st available
          </div>
        </div>
      </div>
    </ion-list>

    <ion-list class="calendar" ng-if="currentBarber" id="calendar">
      <div class="calendar-header row row-center">
        <div class="col-33">
          <div class="calendar-image circle-images">
            <img class="item-img" src="{{getMainImage(currentBarber.images)}}"/>
          </div>
        </div>
        <div class="col-33">
          <div class="calendar-name">
            CALENDAR OF {{currentBarber.name.toUpperCase()}}
          </div>
          <div class="calendar-today">
            {{currentDate | calendar}}
          </div>
        </div>
        <div class="col-33">
          <ionic-datepicker input-obj="datepickerObjectPopup">
            <div class="calendar-date">
              <img class="item-img" src="btCalendar.png"/>
            </div>
          </ionic-datepicker>
        </div>
      </div>

      <div class="item calendar-body" ng-repeat="calendar in currentCalendars" >
        <div class="row row-center">
          <div class="col-33">
            <span class="ion-android-radio-button-off icon-status" ng-class="{busy: calendar.appointment}"></span>
            <div class="hour-range">
              {{calendar.time | timeSlotFilter}}
            </div>
          </div>
          <div class="col-33">
            <div class="hour-status">
              {{calendar.appointment ? ((calendar.appointment == 'off') ?  'Not Work': (calendar.appointment.status == 'go_out' || calendar.appointment.status == 'day_off') ? 'Off': 'Busy') : 'Free' }}
            </div>
          </div>
          <div class="col-33">
            <div class="hour-action" ng-if="!calendar.appointment">
              <button class="button" ng-click="bookAppointment(calendar.time)">Book now</button>
            </div>
          </div>
        </div>
      </div>

    </ion-list>
  </ion-content>

</ion-view>