.schedule {
  .schedule-list {
    font-size: 16px;
    .calendar-picker{
      width: 100%;
      padding-bottom: 10px;
      .schedule-date {
        width: 40px;
        height: 41px;
        float: right;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .schedule-today {
        margin: 10px;
        float: right;
        font-size: 22px;
      }
    }
    .table-schedule {
      padding: 0 5px;
      width: 100%;
      .table-bordered {
        border: 1px solid @master-color;
        width: 100%;
      }
    }
    .table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > th,
    .table-bordered > tfoot > tr > th,
    .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > td,
    .table-bordered > tfoot > tr > td {
      border: 1px solid @master-color;
      padding: 10px 5px;
      text-align: center;
      vertical-align: middle;
    }
    .table-bordered > thead > tr > th,
    .table-bordered > thead > tr > td {
      border-bottom-width: 2px;
    }

    .note {
      margin-left: 10px;
      font-size: smaller;
      color: #797979;
      span {
        margin-right: 20px;
      }
    }

    .schedule-header {
      font-weight: bold;
      color: #336799;
    }

    .schedule-body {
      color: #757982;
      tr.completed {
        opacity: 0.4;
      }
    }
  }
}