<ion-view view-title="BOOKING BARBER" hide-back-button="true">
  <ion-nav-buttons side="left">
    <a class="button icon-left ion-chevron-left button-clear" ng-click="goBack()"></a>
  </ion-nav-buttons>

  <ion-content>
    <form name="customerForm" class="form-horizontal confirm" novalidate>
      <div class="confirm-info">
        Booking with {{barber.name}} at
        <span class="confirm-time">{{newAppointment.start_time | timeSlotWithDateFilter}}</span>
      </div>
      <div class="notices">
        Please enter your first name and 1st letter of your last name only.
      </div>
      <div class="col col-100">
        <input name="name" class="col col-100" type="text" placeholder="Enter your name" ng-model="customer.name" required>
        <div ng-if="customerForm.name.$error.required && (!customerForm.name.$pristine || submitted)" class="help-block">Your name is required.</div>
      </div>
      <div class="notices m-b">
        Warning: Please be aware the name you enter will be displayed on our list of appointments which is viewable by all customers.
      </div>
      <div class="notices">
        Enter your phone number to receive an SMS reminder or be called in the case of a scheduling conflict.
      </div>
      <div class="col col-100">
        <input id="phone" name="phone" class="col col-100" type="tel" placeholder="Enter your phone" ng-model="customer.phone" required ng-intl-tel-input>
        <div ng-if="customerForm.phone.$error.required && (!customerForm.phone.$pristine || submitted)" class="help-block">Your phone is required.</div>
        <div ng-if="!customerForm.phone.$error.required && customerForm.phone.$invalid && (!customerForm.phone.$pristine || submitted)" class="help-block">Your phone is invalid.</div>
      </div>
      <div class="notices">
        Your phone number will never be displayed to other customers.
      </div>
      <div class="col col-100 noRemind">
        <input type="checkbox" ng-model="customer.noRemind">
        DO NOT SEND me an SMS message one hour before my appointment as a reminder.
      </div>
      <div class="row row-center btn-confirm">
        <div class="col col-100" ng-click="confirmBooking(customerForm.$valid);">
          Confirm Booking
        </div>
      </div>
      <div class="notices note_bottom">
        <div class="privacy">
          By clicking the confirm button you agree to accept the terms and privacy policy
        </div>
      </div>
    </form>
  </ion-content>

</ion-view>
