<ion-view hide-nav-bar="true">
  <ion-content class="enter-code-page">
    <div class="row img-logo">
      <div class="col col-100 col-offset-5">
        <img src="menden-logo.png">
      </div>
    </div>
    <div class="row row-center main-content">
      <div class="col col-100 col-offset-5">
        <div class="enter-text">
          put code to continue booking
        </div>
        <label class="item item-input enter-code">
          <input name="code" class="input-code" type="text" placeholder="Enter code" ng-model="code">
        </label>
        <div class="btn-submit-content">
          <button class="button btn-submit" ng-click="submitCode(code)">
            <img class="img-submit" src="btnRightArrow.png">
          </button>
        </div>
        <div class="text-center privacy-link" ng-click="viewPrivacy()">
          Privacy Policy
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>



