<ion-view view-title="booking barber" hide-back-button="true">
  <ion-content class="home">
    <div class="row img-logo">
      <div class="col col-100 col-offset-5">
        <img src="menden-logo.png">
      </div>
    </div>
    <div class="main-contain">
      <button class="button button-full btn-booking" ng-click="goBooking()">
        Book an Appointment at Men's Den
      </button>
      <button class="button button-full btn-booking" ng-click="goSchedule()">
        View the list of Appointments and Walk-in's
      </button>
      <button class="button button-full btn-call" ng-click="callTel()">
        Call Us
      </button>
    </div>
  </ion-content>
</ion-view>



