<ion-view view-title="PRIVACY POLICY" hide-back-button="true">
  <ion-nav-buttons side="left">
    <a class="button icon-left ion-chevron-left button-clear" ng-click="goBack()"></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="privacy_policy">
      <p>Last update: December 6, 2016</p>
      <p>Men’s Den takes privacy very seriously. We recognize that our customers, visitors, users want to know what information we collect and how we use it. That is why we provide this Privacy Notice to help you make an informed decision about whether you want to use or continue using Men’s Den Services.</p>
      <p><b>The information</b> Men’s Den <b>collects:</b></p>
      <p><b>Information you provide:</b></p>
      <p>When you use Men’s Den Services you provide certain information (such as your phone number, name) to Men’s Den. This information may be transmitted, stored and used to provide services.</p>
      <p><b>The use of the information collected:</b></p>
      <p>In general, we use the information we collect to operate, maintain and provide to you the Men’s Den Services.</p>
      <p><b>Third party services:</b></p>
      <p>Men’s Den <b>Barbershop Booking App</b> uses some services hosted by third parties to provide SMS services to you.</p>
      <p><b>Your control over your personal information</b></p>
      <p>
        You may, of course, decline to submit personal information through Men’s Den Services. However, Men’s Den may not be able to offer certain services to you.
        <br/>
        If you have any questions or comments about this Privacy Notice, please contact Men’s Den via email at
        <span class="send-mail" ng-click="sendMail()">bbprivacy@hop-code.com</span>
      </p>
      <p><b>Information sharing and disclosure</b></p>
      <p>Men’s Den will not share your personal information (such as your phone number) with other third-party companies except in the limited circumstances described here:</p>
      <p class="p-l-20"><b>• Law and safety:</b></p>
      <p class="p-l-30">We may release personal information if we believe that it is appropriate or necessary to comply with law, regulation or legal request, to protect the safety of any person, to address fraud, security or technical issues, to protect the rights or property, or personal safety of Men’s Den, our users or others.</p>
      <p><b>Information security and protection</b></p>
      <p>
        Men’s Den will take reasonable technical and organizational measures to protect the security of your personal information against loss, misuse and unlawful behavior. This includes appropriate encryption, secure storage of your information on Men’s Den servers, and limited access to authorized employees only. However, be informed that we cannot eliminate completely all security risks associated with storage and data transmission.
      </p>
      <p><b>Changes to this privacy notice</b></p>
      <p>This Privacy Policy may be revised with or without your notice from time to time. The updated version of the policy will be posted on the Men’s Den. Please revisit the mobile app private policy page to stay aware of any changes. If you do not agree to the Terms of Service or this Privacy Policy, you should not use any of the Men’s Den services.</p>
      <p><b>Applicable law</b></p>
      <p>This Privacy Policy shall be governed by and construed in accordance with the laws of the United States.</p>
      <p>This Privacy Policy is effective December 6, 2016. Last updated December 6, 2016.</p>
    </div>
  </ion-content>
</ion-view>
