<ion-view view-title="Walk-in & pre booked appointments" hide-back-button="true">
  <ion-nav-buttons side="left">
    <a class="button icon-left ion-chevron-left button-clear" ng-click="goBack()"></a>
  </ion-nav-buttons>

  <ion-content class="schedule">
    <ion-list class="calendar schedule-list" id="calendar">
      <div class="row row-center">
        <div class="calendar-picker">
          <ionic-datepicker input-obj="datepickerObjectPopup">
            <div class="schedule-date">
              <img class="item-img" src="calendarSchedule.png"/>
            </div>
          </ionic-datepicker>
          <div class="schedule-today">
            {{currentDate | calendar}}
          </div>
        </div>
      </div>
      <div class="note">
         <span>A = Pre booked Appointment</span>
          <span>W = Walk-in</span>
      </div>
      <div class="table-schedule">
        <table class="table-bordered">
          <thead class="schedule-header">
            <tr>
              <th class="">
                Customer
              </th>
              <th class="">
                Barber
              </th>
              <th class="">
                Type
              </th>
              <th class="">
                Time
              </th>
            </tr>
          </thead>

          <tbody class="schedule-body">
            <tr ng-repeat="appointment in appointments track by appointment._id" class="{{appointment.status}}">
              <td class="">
                {{appointment.cus_name}}
              </td>
              <td class="">
                {{getBarberName(appointment.barber_id)}}
              </td>
              <td class="">
                {{appointment.type || 'A'}}
              </td>
              <td class="">
                {{appointment.start_time | timeBookingUTCFilter}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </ion-list>
  </ion-content>

</ion-view>