.bar-header {
  height: 48px;
}
.general-info{
  text-align: center;
  margin: 0 auto;
  .events{
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    span {
      font-size: 14px;
    }

  }
}
.scroll-content {
  background-color: @background-color;
}

.barbers {
  .barber-item {
    text-align: center;
    padding: 10px 0;
    &.active {
      background-color: @active-color;
    }
    .barber-image {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .barber-name {
      padding-top: 10px;
      font-size: 18px;
    }
  }
}
.calendar {
  .calendar-header {
    height: 70px;
    overflow: hidden;
    margin: 0 auto;
    background-color: @master-color-80;
    .calendar-image{
      height: 56px;
      width: 56px;
      overflow: hidden;
      margin: 0 auto;
      border: 1px solid #fff;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .calendar-name{
      text-align: center;
      color: white;
    }
    .calendar-today {
      text-align: center;
      color: white;
    }
    .calendar-date{
      width: 84px;
      height: 56px;
      margin: 0 auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .calendar-body {
    text-align: center;
    background-color: rgba(255,255,255,0);
    height: 65px;
    padding: 10px 5px;
    .icon-status{
      float: left;
      &::before{
        color: green;
      }
      &.busy::before {
        color: red;
      }
    }
    .hour-range {
      white-space: pre-wrap;
    }
    .hour-action {
      button {
        width: 120px;
        height: 35px;
        min-height: 35px;
        line-height: 35px;
        background-color: @master-color;
        border-color: @master-color;
        color:  white;
      }
    }
  }
}

@media (max-width: 374px) {
  .calendar {
    .calendar-header {
      .calendar-today {
        font-size: 12px;
      }
    }
  }
}
