// css for enter code page
.enter-code-page {
  color: @text-color;
  .main-content {
    margin-top: 20% !important;
    .enter-text {
      font-family: "avo", Tahoma, sans-serif;
      text-transform: uppercase;
      color: @text-color;
      font-size: 1.3em;
      text-align: center;
      font-style: normal;
    }
    .enter-code {
      margin-top: 20px;
      border-radius: 10px;
      border: solid 1px @border-color;
      background: none;
      .input-code {
        height: 25px !important;
        color: @text-color;
      }
    }
    .btn-submit-content {
      text-align: center;
      .button.active, .button.activated {
        border: none !important;
        box-shadow: none !important;
      }
      .btn-submit {
        background: none;
        border: none;
      }
      .img-submit {
        width: 45px;
        margin-top: 30px;
      }
    }
  }
  ::-webkit-input-placeholder {
    color: @text-color;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: @text-color;
  }
  ::-moz-placeholder {  /* Firefox 19+ */
    color: @text-color;
  }
  :-ms-input-placeholder {
    color: @text-color;
  }
}
.img-logo {
  margin-top: 15%;
  text-align: center;
}
.header-item {
   text-transform: uppercase;
   font-style: normal;
 }
// code for home phone
.home {
  .main-contain {
    text-align: center;
    color: @text-color;
    font-size: 1.3em;
    margin-top: 30%;
    button {
      font-size: 15px;
      min-height: 40px;
      color: white;
    }
    .btn-booking {
      background-color: @master-color;
      border-color: @master-color;
    }
    .btn-call {
      background-color: @slaver-color;
      a {
        color: @text-color;
        text-decoration: none;
      }
    }
  }
}

// Notification message (e.g., when unable to connect)
.notifications {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 10px;
  left: 50%;
  width: 280px;
  -webkit-transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -o-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  z-index: 9999;

  @media screen and (min-width: 40em) {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    bottom: auto;
    right: 1rem;
    top: 1rem;
    left: auto;
  }

  .notification {
    font-size: 12px;
    line-height: 16px;
    background: rgba(51,51,51, .85);
    color: white;
    margin-bottom: .25rem;
    padding: .5rem .75rem;
    position: relative;
    width: 100%;

    .spinner {
      position: absolute;
      top: 18%;
      right: auto;
      bottom: auto;
      left: .6rem;
      color: white;
      stroke: #fff;
      fill: #fff;
      font-size: 1.5em;
    }

    .meta {
      overflow: hidden;
      padding-left: 3em;

      .title-notification {
        letter-spacing: 0.2em;
        text-indent: 0.1em;
        text-transform: uppercase;
        display: block;
      }

      .description {
        display: block;
      }
    }
  }
}

.privacy-link {
  margin-top: 25px;
}

.privacy_policy {
  padding: 20px;
  .p-l-10 {
    padding-left: 10px;
  }
  .p-l-20 {
    padding-left: 20px;
  }
  .p-l-30 {
    padding-left: 30px;
  }
  .send-mail {
    text-decoration: underline;
    color: @text-color;
  }
}